.imageAlign {
	float: left;
	font-weight: 700;
}
.credAssign {
	font-weight: bold;
	padding-top: 0.875rem;
}
.spnr {
	min-height: 5rem;
	min-width: 5rem;
}
.btnAlign {
	border: 0rem;
	float: left;
	margin-left: 1.0425rem;
}
.imgAlign {
	border: 0rem;
	float: left;
	margin-left: -1.0625rem;
	padding-bottom: 0rem;
}
.h2 {
	text-align: center;
}
.icon {
	padding-top: 5rem;
	padding-left: 5rem;
}
.text {
	padding-top: 3rem;
	padding-left: 2rem;
}
.assgnAlign {
	padding-top: 2.56rem;
	margin-left: -3.56rem;
}
.content {
	overflow: auto;
}
.aligntr {
	padding: 0.06rem;
}
