.slds-card__header {
	padding-left: 0rem !important;
}
.slds-p-right_small {
	padding-bottom: 1.25rem;
}

.slds-input-has-icon .slds-input__icon {
	top: 0.22rem;
}

.text {
	padding-left: 4rem;
	padding-top: 0.5rem;
}
.testfooter {
	height: 2.5rem;
}

.addMarginToName {
    margin-top: -1.5rem;
}