.slds-card__header{
    padding-left: 0rem !important;
    }
.slds-p-right_small{
        padding-bottom: 1.25rem;
        
}

.slds-input-has-icon .slds-input__icon {

    top: 0.22rem;
}
.boxsize {

    width:1.02rem;
    left: 0.625rem; 
} 
.test1{
    border-radius: 0.313rem;
    border-width: 0.094rem;
    padding: 0.375rem;
    width: fit-content; height: fit-content;min-width: 18.75rem;
}
.test2{
    margin-top: -0.938rem;
}
.test3{
    margin-top: -1.25rem;
}
.test4{
    padding-left: -1.00rem;
}
.test5{
    padding: 1.25rem 5.688rem;
}
.test6{
    padding-top: 0.25rem;
}