.slds-card__header{
    padding-left: 0px !important;
    }
.slds-p-right_small{
        padding-bottom: 20px;
        
}

.slds-input-has-icon .slds-input__icon {

    top: 22%;
}
.boxsize {

    width:102%;
    left: 10px; 
} 