div input[readonly] {
    padding-left: 10.75rem !important;  
}
.slds-input{
    padding-left: 0.75rem !important;
}

.slds-input-has-icon .slds-input__icon {
    top: 70% !important;
}
.slds-icon_small, .slds-icon--small {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2;
} 
.pillSize {
    width: 50%;
}
.custom-container {
    width: 100%;
} 