div input[readonly] {
    padding-left: 10.75rem !important;  
}
.slds-input{
    padding-left: 0.75rem !important;
}

.slds-input-has-icon .slds-input__icon {
    top: 65% !important;
}
.slds-icon_small, .slds-icon--small {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2;
} 
.custom-container {
    width: 100%;
} 
.my-card{
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 20px;
    display: flex;
}
.titleadjust{
    margin-left: 14px;
}