h2{
    font-size: 18px;
}

.custom-text{
    font-size: 15px;
    text-align: center;
}

.slds-backdrop{
    backdrop-filter: blur(1px);
}

.slds-modal__footer{
    min-height: 8%;
    font-size: 13px;
}