.button {
	padding-right: 0.5rem;
}
.confirmation_class {
	max-width: 90px !important;
	width: 90px !important;
}
.removeImage {
	border-radius: 55%;
	padding: 0px 6px;
	margin: 8px 2px 8px 8px;
	color: #fff;
	background-color:#808080;
	cursor: pointer;
} 
.headerText {
	font-size: x-small;
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
}
.abbr{
	color:#ff0000;

}
.setHeight{
	height:3rem;
}
.cred{
   	font-size: 12px;
	   position: relative;
    bottom: 28px;

}
.validate{
font-size: 13px;
    position: relative;
    bottom: 4px;
}
.slds-button__icon{
	margin-top:-5px;
}
.fileUpload{
	position: relative;
	bottom: 2px;
	 right:-3px;
}
.abbr{
		color:red;
}
.headerText{
	 
	font-size:13px;
	position: relative;
    bottom: 12px;
}
.headerText2{
	 
	font-size:13px;
	position: relative;
    bottom: 5px;
}
.headerText1{
	font-size:13px;
	position: relative;
    bottom: 10px;
}

.headerText3{
	font-size: 13px;
	position: relative;
    bottom: 5px;
}
.fup{
	position: relative;
    bottom:9px;

}