.topcenter {

    color: red;
    background-color: #7b38d8;

}
.wrapper {
    padding-top: 7%;
}
.boarder {

    padding-left: 10px;
    margin-bottom: 2%;  
}
.slds-table tr th:first-child{

    width:0 !important;

}