
.buttonalign {
    text-align: center;
    margin-top: -30px;
}

.THIS .slds-button_icon-bare {
    display: none;
}

.backgroundColour {
    background-color: rgb(255, 255, 255);
}

.hdr{

    margin-left: 0.875rem;
    padding-top: 0.875rem;
    font-weight: bold;
    font-size: large;

}

.assgnAlign{
  padding-top: 3.125rem;
}

.content {
    overflow:auto;
}

.setHeight{
    height: 9rem !important;
}

.setAssignmentHeight{
    height: 13.25rem !important;
}
