.wrapper {
    padding-top: 0.07rem;
}

.boarder {

    padding-left: 0.9375rem;
    margin-bottom: 0.02rem;
}

.buttonalign {
    text-align: center;

}

.THIS .slds-button_icon-bare {
    display: none;
}

.tableAdjust {

    margin-top: 0.3125rem;
}

.my-card {
    border-radius: 1.5625rem;
    display: flex;
}

.my-card-child {

    margin-top: -1.875rem;
    width: 18.6875rem;
    padding: 0.625rem;
    height: fit-content;
    display: flex;
    float: left;
    min-height: 10.9375rem;
}

.my-card-childAdjust {
    width: 37.8125rem;
    margin: 0.75rem;
    display: flex;
    float: left;
    margin-top: 2.5rem;

}

.test {
    background-color: #f5f5f5;
}

.test2 {
    height: 1.5625rem;
    margin: 1.25rem 0.125rem 9.375rem;
}

.my-cardAdjust {

    display: flex;

    margin-left: 0.9375rem;
}

.test3 {
    width: fit-content;
    background-color: #f5f5f5;

}
.labelAlign{
    margin-top: -3.625rem;
    align-items: left;

}

.tableDistance {
    margin-top: 0.9375rem;
}

.tableLength {
    width: 38.125rem;
    margin-top: 0.625rem;
}
.scrollableTest{
    height: 9.2rem;
    width:25rem;
}