.h2 {
  text-align: center;
}
.icon {
  padding-top: 5rem;
  padding-left: 5rem;
}
.content {
  overflow: auto;
}
.imgAdjustment {
  padding-top: 4.5rem;
}
.setHeight {
  height: 20.3rem !important;
}
.slds-table th,
.slds-table td {
  padding: 0rem;
}
.imgAdjusted {
  margin-bottom: -1rem;
}
.text-align {
  white-space: normal;
}
.my-card {
  display: block;
}
.btn_Align {
  width: 7.5rem;
  margin: -0.625rem;
  margin-top: -1.6875rem;
}
.slds-box {
  margin-bottom: 0.625rem;
}
.slds-button__icon {
  margin-top: -0.313rem;
}
.headerText {
  font-size: 0.813rem;
  position: relative;
  top: -0.188rem;
}
.headerText1 {
  font-size: 0.813rem;
  position: relative;
  bottom: 0.188rem;
}
.validate {
  position: relative;
  top: 0.313rem;
}
.creds {
  position: relative;
  bottom: 0.875rem;
}
.abbr {
  color: red;
}
.button {
  position: relative;
  left: -0.5rem;
}
.validates {
  position: relative;
  top: -0.938rem;
}
.credlabel {
  position: relative;
  top: -0.188rem;
}
.i-button {
  position: relative;
  top: -0.188rem;
}
.nameLabel {
  position: relative;
  bottom: 0.188rem;
}
.fup {
  position: relative;
  bottom: 1.25rem;
}
.pill {
  margin-top: -0.813rem;
}

.editDate {
  position: relative;
  top: 0.563rem;
}
.exambtn {
  padding: 0%;
}
.headerText4 {
  position: relative;
  top: 1.313rem;
}
.headerText2 {
  position: relative;
  top: 1.25rem;
}
.containerHeight {
  margin-top: 7rem;
  height: 35rem;
}
.status {
  position: relative;
  top: 3px;
}
